@media screen and (max-width:700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    .filme-principal{
        height: 100%;
    }
    
    .botao{
        margin-top: 5px;
        width: 300px;        
    }

    .item img{
        height: 400px !important;
        object-fit: contain;
    }
}

@media screen and (min-width:1000px) {
    .descricao{
        width: 60%;
    }    
}